body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    font-family: cursive;
}
.box{
    margin: 10px;
    width: 80%;
    border: 15px solid black;
    border-radius: 50px 25px;
    background-color: white;
    /*border-image: url(../imagens/transferir.jpeg)40;*/
}
.text{
    margin: 10px;
    border: 10px solid rgb(255, 123, 0);
    padding: 5px;
    font-size: 20px;
    text-align: center;
    /*border-image: url(../imagens/transferir.jpeg)40;*/
}
.text:nth-child(1){
    border-radius: 10%;
    
}
.text:nth-child(2){
    border-radius: 10%;
}
.text:nth-child(3){
    border-radius: 10%;
}
.text.elon{
    border-radius: 20%;
}
img{
    border: 3px solid burlywood;
    border-radius: 50%;
    transition: 1s;
}
img:hover{
    border-color: rgb(255, 123, 0);
    box-shadow: 2px 2px black,
                -1px 0px 3px rgb(46, 46, 46),
                4px 2px 3px rgb(46, 46, 46);
}