body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(12, 12, 12);
    background-color: rgb(247, 240, 231);
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    width: 590px;
    border: 4px solid black;
    transition: .3s;
}
h1:hover{
    color: rgb(247, 240, 231);
    background-color: black;
}
.if{
    width: 340px;
}